---
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
import { Icon } from 'astro-icon/components'
import Searchbar from './Searchbar.astro';
---

<header id="header" class="w-full">
  <div class="w-11/12 lg:w-8/12 mx-auto">
    <div class="bg-white rounded-full flex justify-between items-center px-4 py-1 my-4">
      <div class="flex items-center gap-2">
        <a
          href="/"
          target="_self"
          rel="noopener noreferrer"
          aria-label="LinkedIn"
          class="flex items-center rounded-full bg-[#f5f4fa] p-2 text-black"
        >
          <Icon name="mdi:home" class="text-[24px] align-middle" />
        </a>
        <Searchbar />
      </div>
      <div>
        <Image
          src={logo}
          alt="Logo"
          width={48}
          height={48}
          loading="eager"
        />
      </div>
      <div class="flex items-center gap-2">
        <a
          href="https://www.linkedin.com/in/maik-hasler/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="LinkedIn"
          class="flex items-center gap-1 rounded-full bg-[#0077b5] py-2 px-3 text-white"
        >
          <Icon name="mdi:linkedin" class="text-[24px] align-middle" />
          <span class="hidden sm:inline text-sm font-semibold leading-none">LinkedIn</span>
        </a>
        <a
          href="https://github.com/maik-hasler"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GitHub"
          class="flex items-center gap-1 rounded-full bg-[#333333] py-2 px-3 text-white"
        >
          <Icon name="mdi:github" class="text-[24px] align-middle" />
          <span class="hidden sm:inline text-sm font-semibold leading-none">GitHub</span>
        </a>
      </div>
    </div>
  </div>
</header>

<style>
  #header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10000;
    background-color: #ece9f5;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
  }
</style>