---
import { Image } from 'astro:assets';
import meImage from '../../assets/me.png';
import { Icon } from 'astro-icon/components'

const socials = [
  { url: 'https://github.com/maik-hasler', icon: 'mdi:github' },
  { url: 'https://www.linkedin.com/in/maik-hasler/', icon: 'mdi:linkedin' }
];
---

<section class="py-[64px]">
  <div class="w-11/12 lg:w-8/12 mx-auto flex flex-wrap lg:flex-nowrap justify-between items-center gap-[32px]">
          <div class="w-full sm:w-full lg:w-1/2 flex flex-col justify-center gap-[16px]">
            <span class="text-5xl font-bold text-black">
              About <span class="highlight-text">me</span>.
            </span>
            <div class="flex flex-col gap-[16px]">
              <p class="text-lg">
                I'm Maik, a <span class="highlight-text">software architect</span> based in Oldenburg, Germany.
                I'm passionate about software architecture and system design, specialising in web development and the .NET ecosystem.
                Alongside my technical work, I'm a <span class="highlight-text">vocational trainer</span> at my company and a <span class="highlight-text">volunteer examiner</span> at the IHK Oldenburg.
              </p>
              <p class="text-lg">
                My fascination with programming began when I was a teenager and got my first gaming computer.
                I started playing video games and quickly became addicted to them. Instead of just playing them, I started building tools for the games I played.
                That way I became familiar with concepts such as APIs or system integrations before I started my vocational training in 2021.
              </p>
              <p class="text-lg">
                <p class="text-lg">
                  Today, I develop web applications, migrate legacy systems and have the freedom to experiment with different programming languages, frameworks, libraries and architectural paradigms.
                  I work on projects that challenge me continuously and allow me to <span class="highlight-text">learn</span> something new <span class="highlight-text">every day</span>.
                </p>
              </p>
              <div class="flex gap-3">
                {socials.map((social) => (
                  <a
                    href={social.url}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="group" >
                    <Icon name={social.icon} class="text-[32px]" />
                  </a>
                ))}
              </div>
            </div>
          </div>
          <div class="w-full sm:w-full lg:w-1/2 flex justify-center">
            <div class="lg:w-3/4">
              <Image
              src={meImage}
              alt="Myself"
              decoding="async"
              loading="eager"
              class="rounded-lg shadow-md shadow-black"
            />
            </div>
          </div>
        </div>
</section>

<style>
section {
  background-color: #ece9f5;
}
</style>