<section class="highlight-bg">
  <div class="w-11/12 lg:w-8/12 mx-auto flex flex-col py-[64px] justify-center items-center">
    <span class="text-4xl font-bold text-white text-center">Got something on your mind?</span>
    <div class="w-11/12 lg:w-7/12 mx-auto">
      <p class="text-xl text-center text-white">
        Whether you want to discuss ideas, share feedback, or just have a chat.
      </p>
    </div>
    <a href="/contact" class="mt-[16px] text-xl font-bold text-black">Contact Me</a>
  </div>
</section>

<style>
a {
  background-color: #ffffff;
  border-radius: 64px;
  padding: 12px 24px;
  transition: background-color 0.3s ease;
}
a:hover {
  background-color: #ffffff;
}
</style>
